

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Name</th>
            <th>Profile Picture</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>1</td>
                     <td>rashu</td>

                      <td >
                         <img src='Upload/148690937016237676_1260648350640895_386042458_n.jpg'  style='width:120px;height:100px; border-radius: 10px'>



                      </td>


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>2</td>
                     <td>rahim</td>

                      <td >
                         <img src='Upload/148690938116387268_10208086403141850_5949061240479703182_n.jpg'  style='width:120px;height:100px; border-radius: 10px'>



                      </td>


                  </tr>
              